
<div class="margin-top">
  <div class="col-8">
    <div class="container">
      <h1 class="text-center mb-2" id="logo-font">Choose your favourite celebrity</h1>
    <div class="search-bar mb-3">
      <%= form_tag celebrities_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search"
        %>
        <%= submit_tag "Search", id: "map-button" %>
      <% end %>
    </div>
      <div class="cards">
        <% @celebrities.each do |celebrity| %>
        <%= link_to celebrity_path(celebrity.id), class: "no-deco" do %>
        <div class="celebrity-conteiner">
          <div class="card-celebrity-body">
            <div>
              <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= celebrity.photo_url %>)"></div>
              <p class="text-center logo-font my-1 no-deco"><%= "#{celebrity.first_name} #{celebrity.last_name}" %></p>
              <p class="text-center my-1 no-deco">150€/hour</p>
              <ul class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="map-wrapper col-4">
    <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       style="height: 100vh; position: sticky; top: 0;">
    </div>
  </div>
</div>
