<div class="celebrity-photo d-flex">
  <div class="celebrity-photo-show" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('<%=@celebrity.photo_url%>');">
  </div>

  <div class="celebrity-description">
    <h1 class="mb-5"><%=@celebrity.first_name%> <%=@celebrity.last_name%></h1>
    <p><%=@celebrity.address %></p>
    <p class="text-justify"><%= @celebrity.description %></p>
    <button class="button text-center text-white">
      <%= link_to 'Book now', new_celebrity_reservation_path(@celebrity), class: "no-deco" %>
    </button>
    <button class="button text-center text-white">
      <%= link_to 'Edit', edit_celebrity_path, class: "no-deco" %>
    </button>
    <button class="button text-center text-white">
      <%= link_to 'Delete', celebrity_path(@celebrity), method: :delete, data: { confirm: "Proceed?" } %>
    </button>
  </div>
</div>



<% @reservations.each do |reservation| %>
<div class="d-flex">
  <ul class="stars-for-show-celebrity">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
  </ul>
  <p class="pl-4 text-muted">A year ago</p>
</div>

  <div class="pl-3">
    <p class="pl-4"> <%= reservation.review.content %></p>
  </div>

  <div class="d-flex mb-5">
    <i class="far fa-thumbs-up pl-5"></i>
    <p class="pl-4 text-muted">Like</p>
  </div>

<% end %>

  <div class="d-flex justify-content-center">
    <button class="button text-center m-3 text-white">
    <%= link_to 'See all celebrities', celebrities_path, class: "no-deco"%>
    </button>
  </div>

