<h1>Show page</h1>

<p><%=@celebrity.first_name%> <%=@celebrity.last_name%> - <%=@celebrity.city %> - <%= @celebrity.description %></p>

<%= link_to 'See all celebrities', celebrities_path %>

<div class="row">
  <div class="celebrity-photo-show col-4">
  </div>

  <div class="col-8">
    <h2>Miley Cyrus</h2>
    <p>Cantante, compositora, actriz y productora de discos estadounidense. Destacada por su distintiva voz ronca,8​9​ su música abarca una gama de estilos, desde pop y country pop hasta hip hop, experimental y rock. Cyrus es la artista femenina más vendida nacida en la década de 1990, y ha alcanzado la mayor cantidad de álbumes en el top 10 del Billboard 200 por una artista femenina en el siglo XXI, con un total de trece entradas.</p>
  </div>
</div>
