<div class="container">
  <h4 class="name"></h4>
    <ul class="nav">
      <li> <%= link_to "Reservations", new_celebrity_path, class:"button" %>  </li>
      <li> <%= link_to "My celebrities", new_celebrity_path, class:"button" %>  </li>
      <li><%= link_to "New Celebrity", new_celebrity_path, class:"button" %> </li>
    </ul>
</div>



<% if current_user.celebrities  %>
  <h1 class="text-center mb-5" id="logo-font">Hello <%= current_user.first_name.capitalize %>! These are your celebrities</h1>
  <p>Soy un manager de celebrities y puedo editar o eliminar una celebrity mediante buttons</p>
  <%= current_user.celebrities %>
  <%  else %>
  <h1 class="text-center mb-5" id="logo-font">Hello <%= current_user.first_name.capitalize %>! These are your celebrities</h1>
<% end %>

<div class="col-8 pt-5 mt-5 container">
  <div class="cards">
    <% current_user.celebrities.each do |celebrity| %>
    <%= link_to celebrity_path(celebrity.id), class: "no-deco" do %>
    <div class="celebrity-conteiner">
      <div class="card-celebrity-body">
        <div>
          <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= celebrity.photo_url %>)"></div>
          <p class="text-center logo-font my-1 no-deco"><%= "#{celebrity.first_name} #{celebrity.last_name}" %></p>
          <p class="text-center my-1 no-deco">150€/hour</p>
          <ul class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>


<h1>Your Reservations:</h1>
<% if current_user.celebrities  %>
    <p>Soy un manager y puedo editar una reserva</p>
    <% current_user.reservations.each do |reservation| %>
    <div class="celebrity-description">
      <h2><%= reservation.celebrity.first_name %> <%= reservation.celebrity.last_name %></h2>
      <p>From: <%= reservation.reserve_begin%></p>
      <p>To: <%= reservation.reserve_end%></p>
      <p><strong>Status:</strong><%= reservation.status %></p>
    </div>
    <%= link_to "Update Reservation", edit_celebrity_reservation_path(reservation.celebrity, reservation), class:"button" %>
     <br>
     <br>
  <% end %>

<% else  %>
  <% current_user.reservations.each do |reservation| %>
    <div class="celebrity-description">
      <h2><%= reservation.celebrity.first_name %> <%= reservation.celebrity.last_name %></h2>
      <p>From: <%= reservation.reserve_begin%></p>
      <p>To: <%= reservation.reserve_end%></p>
      <p><strong>Status:</strong><%= reservation.status %></p>
    </div>
  <% end %>
<% end %>
